---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import ClientsSection from "../components/ClientsSection.astro";
import Posts from "../components/Posts.astro";
import Offers from "../components/Offers.astro";
import Testimonials from "../components/Testimonials.astro";
import Footer from "../components/Footer.astro";
import Accounts from "../components/Accounts.astro";
import TikTokAffiliate from "../components/TikTokAffiliate.astro";
---

<Layout title="Viral Asia - TikTok Affiliate Marketing Partner">
  <main>
    <Header
      callToAction="Go VIRAL Today!"
      buttonText="Enquire Now"
      companyName="Viral Asia"
    />

    <TikTokAffiliate />
    <Posts linkText="/bio" />
    <Accounts linkText="/bio" />
    <Offers />
    <Testimonials />

    <ClientsSection
      title="Our Viral Partners"
      subTitle="Experience the reliability chosen by industry giants."
    />

    <Footer callToAction="Get in Touch Today" />
  </main>
</Layout>
