---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ClientsSection from '../components/ClientsSection.astro';
import About from '../components/About.astro';
import Offers from '../components/Offers.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Viral Asia">
	<main>
		<!-- Add Call To action, company Name and Button text2 -->
	<Header callToAction='Get VIRAL Today!', buttonText='Enquire Now' companyName='Viral Asia'/>
	
	<About linkText="/" image1='smm4.png', image2='smm2.png', image3='smm3.png' />
	<Offers />
	<Testimonials />
	
	<ClientsSection
    title="Our Viral Partners"
    subTitle="Experience the reliability chosen by industry giants."
  	/>

	<Footer callToAction='Get in Touch Today' />
	</main>
</Layout>

