---
import PartnerCard from "./PartnerCard.astro";

// Define props from Astro
const { title, subTitle } = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
}

const offers = [
  {
    imageURL: "stayr.png",
    offerText: "Stayr",
  },
  {
    imageURL: "ibis.png",
    offerText: "Ibis",
  },
  {
    imageURL: "klook.png",
    offerText: "Klook",
  },
  {
    imageURL: "cube.png",
    offerText: "cube",
  },
  {
    imageURL: "subway.png",
    offerText: "subway",
  },
  {
    imageURL: "crosscoop.png",
    offerText: "cross coop",
  },
  {
    imageURL: "spinelli.png",
    offerText: "spinelli",
  },
  {
    imageURL: "mox.png",
    offerText: "mox",
  },
  {
    imageURL: "socialchamber.jpeg",
    offerText: "social chamber",
  },
  {
    imageURL: "stsignature.png",
    offerText: "st signature",
  },
  {
    imageURL: "wework.png",
    offerText: "wework",
  },
  {
    imageURL: "furama.png",
    offerText: "furama",
  },
  {
    imageURL: "distrii.png",
    offerText: "distrii",
  },
  {
    imageURL: "wardieres.png",
    offerText: "wardieres",
  },
  {
    imageURL: "hotelg.png",
    offerText: "hotel g",
  },
];
---

<section class="py-20 text-center pb-50">
  <h1 class="purpleText text-5xl italic uppercase">{title}</h1>
  <p class="text-white">{subTitle}</p>
  <div class="grid grid-cols-2 md:grid-cols-5 justify-items-center p-20">
    {
      offers.map((offer) => (
        <PartnerCard imageURL={offer.imageURL} text={offer.offerText} />
      ))
    }
  </div>
</section>
