---
interface Props {
  imageURL: string;
}
const { imageURL = "" } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<div class="p-4">
  <div
    class="w-96 h-[28rem] bg-cover bg-center rounded-md"
    style={imageStyle}
  >
  </div>
</div>
