---
// not in use
interface Props {
  imageURL: string;
}
const { imageURL = "" } = Astro.props;
const imageStyle = {
  backgroundImage: `url(/images/${imageURL})`,
};
---

<div class="w-full h-[28rem] bg-cover bg-top rounded-md" style={imageStyle}>
</div>
