---
import ImageCard from "./ImageCard.astro";
const offers = [
  {
    imageURL: "ad_posting.png",
    offerText: "VERTICAL video production",
  },
  {
    imageURL: "smm.png",
    offerText: "Managing your social media",
  },
  {
    imageURL: "influencer.png",
    offerText: "Influencers marketing",
  },
];
---

<section class="py-12 text-center">
  <h1 class="purpleText text-5xl italic uppercase">What we offer</h1>
  <p class="text-white">We're committed to your business success</p>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      offers.map((offer) => (
        <ImageCard imageURL={offer.imageURL} text={offer.offerText} />
      ))
    }
  </div>
</section>
