---
const offers = [
  {
    imageURL: "ad_posting.png",
    offerText: "VERTICAL video production",
    tailwindClass: "w-[18rem] h-full bg-center"
  },
  {
    imageURL: "smm.png",
    offerText: "Managing your social media",
    tailwindClass: "w-4/5 h-[28rem] bg-top" // Adjusted size here
  },
  {
    imageURL: "influencer.png",
    offerText: "Influencer marketing",
    tailwindClass: "w-2/3 h-full bg-top"
  },
];
---

<section class="py-16 text-center">
  <h1 class="purpleText text-5xl italic uppercase mb-4">What we offer</h1>
  <p class="text-white text-xl mb-12">We offer a wide range of services to help your business grow</p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {
      offers.map((offer) => (
        <div class="flex flex-col items-center bg-gradient-to-b from-purple-900 to-pink-900 rounded-lg p-6 shadow-lg">
          <h3 class="text-white uppercase text-3xl italic mb-8">{offer.offerText}</h3>
          <div class={`${offer.tailwindClass} bg-cover rounded-md`} style={`background-image: url(/images/${offer.imageURL})`}></div>
        </div>
      ))
    }
  </div>
</section>
