---
const testimonials = [
  {
    profileURL: "socialchamber.png",
    parterName: "Social Chamber",
    quote:
      "Social Chamber’s month on month revenue growth 5X after our vertical video release. ",
  },
  {
    profileURL: "stayr.png",
    parterName: "Stayr Pte Ltd",
    quote:
      "Top 3 in iOS most downloaded chart after our social media management within 1st month ",
  },
  {
    profileURL: "Home Indulgence.png",
    parterName: "Home Indulgence",
    quote:
      "Our partner, Home Indulgence, has achieved a 500% increase in followers on TikTok and Instagram.",
  },
];
---
<section class="py-12">
  <h1 class="purpleText text-5xl italic uppercase text-center">Before and After</h1>
  <div class="grid grid-cols-1 md:grid-cols-3">
    {
      testimonials.map((profile)=>(
        <div class="m-4">
          <img src={'/images/'+profile.profileURL} alt="Testimonial" class="object-cover object-top w-full h-48 align-bottom"/>
          <div class="purpleBG p-8 text-white">
            <p class="pb-4 font-bold">
              {profile.quote}
            </p>
            <small>{profile.parterName}</small>
            </div>
          </div>

      ))
    }
  </div>
</section>